\[Day 33:] API Endpoints & API Parameters - ISS Overhead Notifier/.env
\[Day 35:] Keys, Authentication & Environment Variables - Telegram Rain Notifier/Rain Alert Project/.env
\[Day 35:] Keys, Authentication & Environment Variables - Telegram Rain Notifier/.env
\[Day 36:] Stock Trading News Alert Project/Day36 Project Stock Tracking/.env
\[Day 36:] Stock Trading News Alert Project/Stock_Tracking_Improved/.env
\[Day 37:] Habit Tracking Project: API Post Requests & Headers/Day37 Habit Tracking Project/.env
\[Day 38:] Workout Tracking Using Google Sheets/.env
\[Day 39:] Capstone Part 1: Flight Deal Finder/flight-deals-start/.gitignore
\[Day 39:] Capstone Part 1: Flight Deal Finder/flight-deals-start/.env.example
.gitignore
\[Day 41:] Introduction to HTML/Web Development/HTML - Personal Site/totti_circled.png
\[Day 41:] Introduction to HTML/Web Development/HTML - Personal Site/contact_info.html
\[Day 41:] Introduction to HTML/Web Development/HTML - Personal Site/hobbies.html
\[Day 41:] Introduction to HTML/Web Development/HTML - Personal Site/index.html
\[Day 41:] Introduction to HTML/Web Development/HTML - Personal Site/css/styles.css
