/*************************** TAG Selectors ***************************/


body{
    background-color: white;
}
h1{
    color: red;
}
img:hover{
    background-color: gold;
}

/*************************** CLASS Selectors ***************************/

.bacon {
    background-color: green;
}

.broccoli{
    background-color: red;
}

.circular{
    border-radius: 100%;
}

/*************************** ID Selectors ***************************/

#heading{
    color : blue;
}