








/********************* NAV BAR *********************/
.top-navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 99999;
    transition: all 0.4s ease-out;
    margin: 0;
    padding-top: 0.1rem;
    text-align: center;
  }
  .container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

.navbar-brand{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.profile_img{
    border-radius: 100%;
    height: 50px;
}